html,body {background-color: black;}
.header {background-color: rgba(128,128,128,0.7);}
.name {color: white;}
.about a {color: white;}
.header-menu a {color: floralwhite}
.header-menu a:hover {color: rgba(217,77,201,1);}
.title {
    /*color: antiquewhite;*/
    color: white;
    background: rgba(150,150,150,0.3);
}
.university-title {background: rgba(195, 195, 195, 0.1);}

.paragraph-title {color: rgba(217,77,201,0.7);}

#telegram {background-image: url("../img/telegram.png");}
#call {background-image: url("../img/phone.png");}
#mail {background-image: url("../img/mail.png");}

.work a {color: white}
.progress-work-bar__svg-image {background-image: url("../img/link_dark.png")}
.progress-box {color: white}
.job-title {color: antiquewhite;}
.job-list {color: white;}
.job-skill {color: white;}
.university-title {color: antiquewhite;background: rgba(150,150,150,0.1);}
.university-date,.university-stage {color: white;}
.university-position {color: white}
.skill-block {color: white;}
.soft-list,.data-list {color: white;}
.skill-text {color: gray}
.skill-title {color: antiquewhite}
.change-theme[data-theme='dark']{display: none;}
.change-theme[data-theme='light'] {display: block;}
.change-theme {background-image: url("../img/dark.png");}
.image {
    width: 15px;
    height: 17px;
    background-image: url("../img/copy_light.png");
    background-size: 100% 100%;
    background-position: center center;
}
.work-image {background-image: url("../img/link_dark.png")}
.job-admin {background-image: url("../img/work_admin_dark.png");}
.job-support {background-image: url("../img/work_support_dark.png");}
.job-sales {background-image: url("../img/work_sales_dark.png");}
.exp-html {background-image: url("../img/exp_html.png")}
.exp-css {background-image: url("../img/exp_css.png")}
.exp-js {background-image: url("../img/exp_js.png")}
.university-pic {background-image: url("../img/univer_dark.png")}
.phone-image {background-image: url("../img/head_phone_dark.png");}
.mail-image {background-image: url("../img/head_mail_dark.png");}
#job-adobe {background-image: url("../img/job_adobe_dark.png");}
#span-gs, #span-adobe, #span-office {color: whitesmoke;}
.work-block a {color: white}
.work-container {color: white}
.work-block a:hover {color: rgba(217,77,201,0.5)}
.progress-bg {background: rgba(255, 255, 255, 0.5);border: 1px solid rgba(255,255,255,0.5)}
/*.circular-progress:before {background-image: url("../img/link_dark.png");*/
/*    background-color: black;}*/
.circle-inner::before {
    background-image: url("../img/link_dark.png");
    background-size: 85% 85%;
}
.circle {
    /*border: 2px rgba(255,255,255,1) solid;*/
}
.job-skill-title {
    color: white;
}
.text {color: antiquewhite}
.soft-list-title {color: antiquewhite}
@media (max-width: 850px) {
    #span-gs,#span-adobe,#span-office {
        color: rgba(128,128,128,0.6);
        font-size: 14px;
    }
    .job-title {background-color: rgba(0,0,0,0)}
    .footer {background-color: rgba(128, 128, 128, 0.6);
        backdrop-filter: blur(2px);
        }
    .header {
        backdrop-filter: blur(4px);
        background-color: rgba(128, 128, 128, 0.8);
    }
    .progress-bg {
        background: rgba(255, 255, 255, 1);
    }
    .university-date,.university-stage {
        color: rgba(128, 128, 128, 0.8);
    }
    .soft-list-title {
        background-color: rgba(128, 128, 128,0.2);
    }
    .text {
        color: white;
    }
}
@media (max-width: 370px) {

}