/*body {background-color: rgba(200, 185, 144,0.8);}*/
body {background-color: rgba(133, 162, 199, 0.3)}
/*.header {background-color: rgba(200, 185, 144,1);*/
.header {background-color: rgba(255, 255, 255, 1)}
.mail,.phone,.telegram {color: white}
.name {color: black;}
.about a {color: black;}
.header-menu a {color: black}
.header-menu a:hover {color: rgba(217,77,201,0.7);}
.paragraph-title {color: rgba(217,77,201,1);}
.title {
    color: black;
    background: rgba(191, 191,191, 0.4);
}
.university-title {background: rgba(195, 195, 195, 0.2);}


#telegram {background-image: url("../img/telegram_light.png");}
#call {background-image: url("../img/phone_light.png");}
#mail {background-image: url("../img/mail_light.png");}

.work a {color: black}
.work a:hover {color: rgba(217,77,201,1)}
.progress-work-bar__svg-image {background-image: url("../img/link.png")}
.job-title {color: black;}
/*.job-text {color: rgba(255,255,255,1);}*/
.university-1, .university-2 {color: black;}
.university-position,.university-date,.university-stage {color: black;}
.soft-list,.data-list {color: black}
/*.block-3 {color: white;}*/
.skill-text {color: rgba(0,0,0,1);}
.skill-title {color: black}
.change-theme[data-theme='dark']{display: block;}
.change-theme[data-theme='light'] {display: none;}

.change-theme {background-image: url("../img/moon.png");}
.phone-image {background-image: url("../img/head_phone.png");}
.mail-image {background-image: url("../img/head_mail.png");}

.university-pic {background-image: url("../img/univer.png")}
.image {
    width: 15px;
    height: 17px;
    background-image: url("../img/copy_dark.png");
    background-size: 100% 100%;
    background-position: center center;
}

/*.work-image {background-image: url("../img/link.png")}*/
.job-admin {background-image: url("../img/work_admin.png");}
.job-support {background-image: url("../img/work_support.png");}
.job-sales {background-image: url("../img/work_sales.png");}
.exp-html {background-image: url("../img/exp_html.png")}
.exp-css {background-image: url("../img/exp_css.png")}
.exp-js {background-image: url("../img/exp_js.png")}

#job-adobe {background-image: url("../img/job_adobe.png");}

.work-block a {color: black}
.work-block a:hover {color: rgba(217,77,201,1)}
.footer {background-color: rgba(200, 185, 144,1)}
.progress-bg {background: rgba(233, 233, 233, 0.5);}

/*.circular-progress:before {*/
/*    background-image: url("../img/link.png");*/
/*    background-color: rgba(240,255,240,1);*/
/*}*/
.circle-inner::before {
    background-image: url("../img/link.png");
    background-size: 85% 85%;
}
.circle {
    /*border: 1px rgba(0,0,0,1) solid;*/
}
.text {color: black}
@media (max-width: 480px) {
    /*.header-menu {background-color: gray;}*/
    .footer {background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    border-radius: 30px 30px 10px 10px}
    .header {
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.8);
    }
    .soft-list-title {
        background-color: rgba(128, 128, 128,0.2);
    }
}